
.service-item span i{
    font-size: 2.5rem;
    color: #f9a826;

}
.headerc{
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 35px;
    line-height: 40px;
    color: #002c5b;
}
.service-item h6{
    font-size: 1.2rem;
    font-weight: 600;
    transition: .3s;
}
.service-item h6:hover{
    color: #f9a826;
}
.service-item{
    margin-left: 5rem;
    margin-right: 5rem;
}
.section-descriptionc{
    font-family: "Poppins", Tahoma, Geneva, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #7d8791;
}
.titlec{
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #002c5b;
    top: 5px;
}
@media only screen and (max-width:768px){
    .service-item h6{
        font-size: 1.1rem;
             
    }
}